.container-fluid{
  background: #ffff00;
  height: auto;
  }

#whole{
  border: 2px solid #000;

}

#header{
  height: 200px;
  background: #2f00ff;
  border: 2px solid #000;
}

/*NAV*/
#nav{
  background: #126B21;
  border: 2px solid #000;
  height: 30px;

}

/*CONTENT/ASIDE*/

#content{
  background: #e71409;
  border: 2px solid #000;
  height: 100px;
}

#aside{
  background: #30eae5;
  border: 2px solid #000;
  height: 100px;
}


/*PROMO*/

 #promo{
  border: 2px solid #000;
  height: 100px;
  background: orange;
}

/*FOOTER*/
#footer{
  background: #000;
  height: 50px;
  color: #fff;
}
