.container-fluid{
  background: #ffff00;
  height: auto;
  }

#whole{
  border: 2px solid #000;

}

#header{
  height: 200px;
  background: #2f00ff;
  border: 2px solid #000;
}

/*NAV*/
#nav{
  background: #126B21;
  border: 2px solid #000;
  height: 30px;

}

/*CONTENT/ASIDE*/

#content{
  background: #e71409;
  border: 2px solid #000;
  height: 100px;
}

#aside{
  background: #30eae5;
  border: 2px solid #000;
  height: 100px;
}


/*PROMO*/

 #promo{
  border: 2px solid #000;
  height: 100px;
  background: orange;
}

/*FOOTER*/
#footer{
  background: #000;
  height: 50px;
  color: #fff;
}

@media screen and (max-width: 768px) {

  .container{
    background: #d2aaff;
    }
    #whole{
      background: #d7ffaa;
    }

  #header{
    background: #d7ffaa;
  }

  #nav{
    background: #ffaad7;
  }

  #content{
    background: #aad7ff;
  }

  #aside{
    background: #ffd2aa;
  }

  #promo{
    background: #ffe8d5;
  }

  #footer{
    background: #f8b4aa;
  }


}

@media screen and (max-width: 375px) {

  .container{
    background: #000000;
    }
    #whole{
      background: #b5a642;
    }

  #header{
    background: #800020;
  }

  #nav{
    background: #aaaaaa;
  }

  #content{
    background: #f8681a;
  }

  #aside{
    background: #876553;
  }

  #promo{
    background: #64564f;
  }

  #footer{
    background: #11a477;
  }

}
